<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make-A-Ton 7.0 Registration</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
       style="max-width: 600px; background-color: #ffffff; margin-top: 30px; border-radius: 8px; overflow: hidden;">
    <tr>
        <td align="center" bgcolor="#0073e6" style="padding: 20px 0; position: relative;">
            <h1 style="color: #ffffff; margin: 0;">Make-A-Ton 7.0</h1>
            <h4 style="color: #ffffff; margin: 0;">powered by <a href="https://eduport.app"
                                                                 style="text-decoration: none;color: #FD853A">
                Eduport </a></h4>
        </td>
    </tr>
    <tr>
        <td style="padding: 30px; color: #333333;">
            <p style="font-size: 16px;">Hello <strong>{{ full_name }}</strong>,</p>
            <p style="font-size: 16px;">Congratulations! Your team {{ team_name }} has been selected {% if conductor %} for conductor Track {% endif %} to participate in
                <strong> Make-A-Ton 7.0 </strong> powered by
                <strong> Eduport</strong>, chosen from over 2600+ applicants and 870+ teams. To confirm your
                participation,
                please complete the RSVP process by following the steps below:
            </p>
            <p style="font-size: 16px;">Complete the "I'm Participating" Section</p>
            <ul>
                <li>Log in to your dashboard.</li>
                <li>Complete the "I'm Participating" Section</li>
                <li>Click Add I'm Participating Posters</li>
                <li>
                    Generate and download the posters for all of your team members. Make sure the faces are properly
                    visible in the uploading images.
                </li>
                <li>You can use these posters to share on your social media platforms and let the world know that you
                    are participating in Make-A-Ton 7.0. powered by Eduport.
                </li>

                <li>Go to "My Team".</li>
                <li>Click your team name (it's a link).</li>
                <li>Select the RSVP</li>
                <li>Make sure all team members are joined in the WhatsApp group. <a
                        href="https://chat.whatsapp.com/LCEEEiGbtUGH44zV1BZ5AQ">WhatsApp Group</a></li>
                <li>Save Team details </li>

            </ul>
            <p style="font-size: 16px;">If you have any questions, feel free to reach out. We look forward to seeing you
                and your team bring your ideas to life at Make-A-Ton 7.0!</p>

            <p style="font-size: 16px;">Join the WhatsApp Group: This is essential for important updates and
                coordination. Join here: <a href="https://chat.whatsapp.com/LCEEEiGbtUGH44zV1BZ5AQ">WhatsApp Group</a>
            </p>
            <p style="font-size: 16px;">Best regards,<br><strong>Make-A-Ton 7.0 Team</strong></p>
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#f4f4f4" style="padding: 20px;">
            <p style="font-size: 12px; color: #666666;">© 2024 Make-A-Ton. All rights reserved.</p>
        </td>
    </tr>
</table>
</body>
</html>
